@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
/*  font-family: 'Montserrat'; */
body {
	background-image: url(../Images/Artboard\ 5.png);
	background-size: contain;
	background-repeat: no-repeat;
	padding: 0px;
	margin: 0px;
	background-color: #e6e6e6;
}

.banner1 img {
	max-width: 100%;
}

.gelebanner img {
	max-width: 100%;
}


.header {
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
}

.logo img {
	width: 70%;
}

.logo a:nth-child(2) {
	display: none;
}

#primary_nav_wrap ul {
	list-style: none;
	position: relative;
	float: right;
	margin-right: 10px;
	padding: 0;
}

#primary_nav_wrap ul a {
    display: block;
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    padding: 0 15px;
    font-family: "Montserrat", sans-serif;
}

#primary_nav_wrap ul li {
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
}

#primary_nav_wrap ul li:hover {
	background: #ffcc00;
}

#primary_nav_wrap ul ul {
	display: none;
	position: absolute;

	top: 100%;
	left: 0;
	background: #fff;
	padding: 0;
}

#primary_nav_wrap ul ul li {
	float: none;
	width: 200px;
}

#primary_nav_wrap ul ul a {
	line-height: 120%;
	padding: 10px 15px;
	color: #414141;
}

#primary_nav_wrap ul ul ul {
	top: 0;
	left: 100%;
}

#primary_nav_wrap ul li:hover > ul {
	display: block;
}

.Knopke {
	padding: 10px 20px;
	color: #121583;
	border-radius: 7px;
	font-weight: bold;
	text-decoration: none;
}

.knopke:hover {
	background-color: #121583;
	border-radius: 7px;
}

/* midden */
.boxes {
	margin-top: 600px;
	display: flex;
	flex-direction: column;
}

.boxes div:nth-child(3) {
	margin-top: 20px;
}

.boxes3 {
	margin: 25px 30px;
	display: flex;
	justify-content: center;
}

.box3 {
	margin: 0px 50px;
}

.box {
	display: flex;
	margin: 0px 150px;
	margin-top: 50px;
	border-radius: 20px;
}

.text h1{
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
}

.text {
	display: flex;
	flex-direction: column;
	font-family: "Montserrat",sans-serif;
	font-weight: 100;
	padding: 5px 10px;
}

.but{
	background-color: #005daa;
	text-align: center;
	border-radius: 10px;
	font-family: "Monserrat",sans-serif;
	text-decoration: none;
	margin: 0px 300px;
	color: white;
	padding: 5px 20px;
	}

	.boxje{
		display: flex;
		margin: 0px 150px;
		border-radius: 20px;
		flex-direction: row-reverse;
	}

.box img {
	width: 300px;
	height: 300px;
	margin-right: 100px;
}

.boxes3 img.image1 {
	margin-top: -20px;
	margin-left: 30px;
}

.boxje img.image2 {
	margin-top: -80px;
	width: 400px;
	height: 400px;
}

.boxes3 img.image3 {
	width: 400px;
	height: 400px;
	margin-top: -60px;
}

.boxes3 img.imageZorg {
	width: 300px;
	height: 300px;
	margin-left: 40px;
}

.boxes3 img {
	width: 300px;
	height: 300px;
}

.Schoolvisie {
	max-width: 400px;
	max-height: 500px;
}

.Schoolvisie img.image1 {
	align-content: center;
}

.textDanku {
	margin-top: -30px;
	font-family: "Montserrat", sans-serif;
    font-weight: 100
}

.textSchoolvisie {
	margin-top: 45px;
	font-family: "Montserrat",sans-serif;
    font-weight: 100
}

.Wijzoekenjou img {
	margin: 40px 100px;
}
.WijzoekenjouDriehoek{
	width: 400px;
	height: 400px;
	margin-top: -150px;
	margin-left: 50px;
}


.artboard img {
	max-width: 100%;
}
footer img {
	max-width: 100%;
}


@media (max-width: 600px){

	html{
		margin: 0px;
		padding: 0px;
	}
	#primary_nav_wrap{
		display: none;
	}

	.logo a:nth-child(2) {
		display: none;
	}

	.body{
	background-image: url(../Images/Artboard\ 5.png);
	background-size: contain;
	background-repeat: no-repeat;
	margin: 0px;
	padding: 0px;
	}

	.text h1 {
		font-family: "Montserrat", sans-serif;
		font-weight: 500;
		text-align: center;
	}

	.text p{
		text-align: center;
	}

	.boxes{
		margin-top: 300px;
	}

	.box {
		display: flex;
		margin: 0px 150px;
		border-radius: 20px;
		flex-direction: column;
		flex-wrap: nowrap;
		align-content: space-around;
		align-items: center;
	}

	.button1 {
		margin-left: 170px;
		margin-top: -70px;
		margin-bottom: 10px;
		font-family: "Monserat",sans-serif;
	}

	.box img {
    width: 300px;
    height: 300px;
	margin-right: 0px;
}
	.box img.image2 {
		margin-top: -80px;
		margin-left: -0px;
		width: 400px;
		height: 400px;
	}

	.boxje {
		display: flex;
		margin: 5px 150px;
		border-radius: 20px;
		flex-direction: column;
		flex-wrap: nowrap;
		align-content: space-around;
		align-items: center;
	}

	.boxes3 {
		margin-top: 50px;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-content: space-around;
	}

	.Schoolvisie {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		align-items: center;
	}

	.textSchoolvisie {
		margin-top: 0px;
		font-family: "Montserrat",sans-serif;
		font-weight: 100;
		text-align: center;
	}

	.textDanku{
		text-align: center;
	}

	.boxes3 img.image3 {
		width: 400px;
		height: 400px;
		margin-top: -80px;
	}

	.boxes3 img.imageZorg {
		width: 300px;
		height: 300px;
		margin-left: 0px;
	}
	.boxes3 img.image1 {
		margin-top: -20px;
		margin-left: 0px;
	}

	.Wijzoekenjou img {
		margin: 40px 50px;
	}

	.WijzoekenjouDriehoek{
		width: 200px;
		height: 200px;
		margin-top: -90px;
		margin-left: 20px;
	}

	.but{
	background-color: #005daa;
	text-align: center;
	border-radius: 10px;
	font-family: "Monserrat",sans-serif;
	text-decoration: none;
	margin: 0px 25px;
	color: white;
	padding: 5px 20px;
	}
	
}

html:not([data-scroll="0"]) .header {
	background-color: #ffcc00;
	box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
	transition: 0.25s;
}

html:not([data-scroll="0"]) .header .logo a:nth-child(2){
	display: block;
}

html:not([data-scroll="0"]) .header .logo a:nth-child(1){
	display: none;
}

html:not([data-scroll="0"]) .header #primary_nav_wrap ul a{
	color: #414141;
}