@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
/*  font-family: 'Montserrat'; */
body {
	background-image: url(../Images/Artboard\ 5.png);
	background-size: contain;
	background-repeat: no-repeat;
	padding: 0px;
	margin: 0px;
	background-color: #e6e6e6;
}

.banner1 img {
	max-width: 100%;
}

.gelebanner img {
	max-width: 100%;
}

.header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 70%;
}

#primary_nav_wrap {
    margin-top: 15px;
}

#primary_nav_wrap ul {
    list-style: none;
    position: relative;
    float: right;
	margin-right: 10px;
    padding: 0;
}

#primary_nav_wrap ul a {
    display: block;
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    padding: 0 15px;
    font-family: Montserrat, sans-serif;
}

#primary_nav_wrap ul li {
    position: relative;
    float: left;
    margin: 0;
    padding: 0;
}

#primary_nav_wrap ul li:hover {
    background: #ffcc00;
}

#primary_nav_wrap ul ul {
    display: none;
    position: absolute;
	
    top: 100%;
    left: 0;
    background: #fff;
    padding: 0;
}

#primary_nav_wrap ul ul li {
    float: none;
    width: 200px;
}

#primary_nav_wrap ul ul a {
    line-height: 120%;
    padding: 10px 15px;
	color: #414141;
}

#primary_nav_wrap ul ul ul {
    top: 0;
    left: 100%;
}

#primary_nav_wrap ul li:hover>ul {
    display: block;
}



.Knopke {
    padding: 10px 20px;
    color: #121583;
    border-radius: 7px;
    font-weight: bold;
    text-decoration: none;
}

.knopke:hover{
	background-color: #121583;
	border-radius: 7px;
}

/* midden */
.boxes {
	margin-top: 600px;
	display: flex;
	flex-direction: column;
}

.boxes div:nth-child(3){
	margin-top: 50px;
}

.boxes3 {
	margin-top: 50px;
	display: flex;
	justify-content: center;
}

.box3 {
	margin: 0px 50px;
}

.box {
	display: flex;
	margin: 0px 150px;
	border-radius: 20px;
}

.text h1{
	font-family: "Montserrat";
	font-weight: 500;
	
}

.text {
	display: flex;
	flex-direction: column;
	font-family: "Montserrat";
	font-weight: 100;
	padding: 5px 10px;
}

.button {
	margin-left: 550px;
	margin-top: -50px;
	margin-bottom: 10px;
	
}

.button1 {
	margin-left: 155px;
	margin-top: -70px;
	margin-bottom: 10px;
	
}

.button a {
	background-color: #005daa;
	border-radius: 10px;
	font-family: "Monserrat";
	text-decoration: none;
	color: white;
	padding: 5px 20px;
}

.button1 a {
	background-color: #005daa;
	border-radius: 10px;
	
	text-decoration: none;
	color: white;
	padding: 5px 20px;
}
.box img {
	width: 300px;
	height: 300px;
	margin-right: 100px;
}

.boxes3 img.image1{
	margin-top: -20px;
	margin-left: 30px;
}

.box img.image2{
	margin-top: -80px;
	width: 400px;
	height: 400px;
}

.boxes3 img.image3{
	width: 400px;
	height: 400px;
	margin-top: -60px;
}

.boxes3 img.imageZorg{
	width: 300px;
	height: 300px;
	margin-left: 40px;
	
}

.boxes3 img {
	width: 300px;
	height: 300px;
}

.Schoolvisie {
	max-width: 400px;
	max-height: 500px;
}

.Schoolvisie img.image1{
	align-content: center;
}

.textDanku{
	margin-top: -30px;
	font-family: "Montserrat";
    font-weight: 100
}

.textSchoolvisie{
	margin-top: 45px;
	font-family: "Montserrat";
    font-weight: 100
}

.Wijzoekenjou img{
	margin: 40px 100px;
}

.artboard img {
	max-width: 100%;
}
footer img {
	max-width: 100%;
}
