@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

/*  font-family: 'Montserrat'; */
body {
	background-image: url(../Images/tops/tops-11.jpg);
	background-size: contain;
	background-repeat: no-repeat;
	padding: 0px;
	margin: 0px;
	background-color: #e6e6e6;
}

#menuToggle {
	display: none !important;
}

html {
	scroll-behavior: smooth;
}

.banner1 img {
	max-width: 100%;
}

.gelebanner img {
	max-width: 100%;
}

.header {
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0;
	z-index: 1;
}

.logo img {
	width: 70%;
	margin-left: 20px;
}

.logo a:nth-child(2) {
	display: none;
}

#primary_nav_wrap ul {
	list-style: none;
	position: relative;
	float: right;
	margin-right: 10px;
	padding: 0;
}

#primary_nav_wrap ul a {
	display: block;
	color: white;
	text-decoration: none;
	font-weight: 700;
	font-size: 18px;
	line-height: 32px;
	padding: 0 15px;
	font-family: Montserrat, sans-serif;
}

#primary_nav_wrap ul li {
	position: relative;
	float: left;
	margin: 0;
	padding: 0;
}

#primary_nav_wrap ul li:hover {
	text-decoration: underline #ffcc00 2px;
	text-underline-offset: 7px;
}

#primary_nav_wrap ul ul {
	display: none;
	position: absolute;

	top: 100%;
	left: 0;
	background: #fff;
	padding: 0;
}

#primary_nav_wrap ul ul li {
	float: none;
	width: 200px;
}

#primary_nav_wrap ul ul a {
	line-height: 120%;
	padding: 10px 15px;
	color: #414141;
}

#primary_nav_wrap ul ul ul {
	top: 0;
	left: 100%;
}

#primary_nav_wrap ul li:hover > ul {
	display: block;
}

/* center */
.boxes {
	margin-top: 750px;
	display: flex;
	flex-direction: column;
}

.boxes div:nth-child(3) {
	margin-top: 50px;
}

.box1 {
	margin-top: 100px;
	display: flex;
	margin: 0px 150px;
	border-radius: 20px;
}

.box2 {
	display: flex;
	margin: 0px 150px;
	border-radius: 20px;
	flex-direction: row-reverse;
}

.box1 img {
	height: 270px;
}

.box1 .text1 {
	margin-top: 40px;
	margin-right: 90px;
	margin-left: 40px;
}

.box2 img {
	height: 270px;
}

.box2 .text2 {
	margin-top: 40px;
	margin-right: 50px;
}

.box1 .text1 h1 {
	font-family: Montserrat, sans-serif;
	font-weight: 800;
	font-size: 40px;
}

.box2 .text2 h1 {
	font-family: Montserrat, sans-serif;
	font-weight: 800;
	font-size: 40px;
}

.box1 .text1 p {
	font-family: Montserrat, sans-serif;
	font-weight: 400;
	font-size: 16px;
}

.box2 .text2 p {
	font-family: Montserrat, sans-serif;
	font-weight: 400;
	font-size: 16px;
}

footer img {
	width: 100%;
}

button {
	display: block;
	margin: 0 auto;
	background-color: #005daa;
	border-color: #005daa;
	border-radius: 5px;
	border: 0;
	padding: 12px 100px 12px 100px;
}

button a {
	color: white;
	font-size: 16px;
	text-decoration: none;
}

button:hover {
	background-color: #014278;
}

.blackBox {
	background-image: url("../Images/assets/rectangles\ gray&black\ 180°.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	padding: 60px;
	margin-top: -10px;
}

.blackBox h3 {
	font-family: "montserrat", sans-serif;
	font-size: 14px;
	font-weight: 350;
	color: #e6e6e6;
	margin-top: 400px;
	text-align: center;
	margin-bottom: 100px;
}

html:not([data-scroll="0"]) .header {
	background-color: #ffcc00;
	box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
	transition: 0.25s;
}

html:not([data-scroll="0"]) .header .logo a:nth-child(2) {
	display: block;
}

html:not([data-scroll="0"]) .header .logo a:nth-child(1) {
	display: none;
}

html:not([data-scroll="0"]) .header #primary_nav_wrap ul a {
	color: #414141;
}

@media (max-width: 480px) {
	#menuToggle {
		display: block !important;
	}

	html {
		margin: 0px;
		padding: 0px;
	}

	#primary_nav_wrap {
		display: none;
	}

	.logo a:nth-child(2) {
		display: none;
	}

	.boxes {
		margin-top: 140px;
	}

	.box1 {
		flex-direction: column;
		margin: 0px 50px;
	}

	.box1 img {
		margin-top: 50px;
	}

	.box1 .text1 {
		margin-top: 0px;
		margin-right: 0px;
		margin-left: 0px;
		text-align: center;
	}

	.box2 {
		flex-direction: column;
		margin: 0px 50px;
	}

	.box2 .text2 {
		margin-top: 0px;
		margin-right: 0px;
		text-align: center;
	}

	.blackBox h3 {
		font-size: 12px;
		margin-top: 50px;
		margin-bottom: 0;
	}
}
